
@{
    ViewBag.Title = "Salary Revision";
}

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <form>
            <div class="form-group">
                <label for="search">Search Employee below to list the Salary revisions</label>
                <input class="form-control input-lg" id="search" type="text" placeholder="Enter employee name">
            </div>
        </form>
    </div>
    <div class="col-sm-6"></div>
</div>
<div class="row" data-bind="if: EmployeeName">
    <div class="col-sm-1"></div>
    <div class="col-sm-4 well">
        <div class="row">
            <div class="col-sm-4">Employee Name</div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-7" data-bind="text: EmployeeName"></div>
        </div>
        <div class="row">
            <div class="col-sm-4">Designation</div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-7" data-bind="text: Designation"></div>
        </div>
        <div class="row">
            <div class="col-sm-4">Department</div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-7" data-bind="text: Department"></div>
        </div>
        <div class="row">
            <div class="col-sm-4">Location</div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-7" data-bind="text: Location"></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <a href="#" data-bind="click: addRevision">Add Revision</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Revised On</th>
                            <th>Revised By</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: RevisionList">
                        <tr>
                            <td data-bind="text: revisedOn"></td>
                            <td data-bind="text: revisedBy"></td>
                            <td><a href="#" data-bind="click: $root.editRevision">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<div id="revisionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Salary Definition</h4>
            </div>
            <div class="modal-body">
                <form data-bind="foreach: RevisionDetails">
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <select class="form-control" data-bind="options: $parent.DefinitionList, optionsText: 'definitionName', value: selectedDef,
                       optionsCaption: 'Choose...'"></select>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" data-bind="value: amount" />
                        </div>
                        <div class="col-sm-2">
                            <a href="#" data-bind="click: $parent.removeDefinition">Remove</a>
                        </div>
                    </div>
                </form>
                <div>
                    <a href="#" data-bind="click: addDefinition">Add</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: saveRevision">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/bootstrap3-typeahead.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-3.4.2.js"></script>
    <script type="text/javascript" src="~/Scripts/ViewModels/salary-definition.js"></script>
    <script type="text/javascript" src="~/Scripts/ViewModels/salary-revision.js"></script>
    <script type="text/javascript" src="~/Scripts/Payroll/salary-revision.js"></script>
}
